<%- include('../partials/header'); %>

<!--Páginas Web titulo-->
<div class="NotFoundDiv">
    <img src="/IMG/404.png" width="100px" alt="404 not found">
    <p class="h1">
        404 Not Found
    </p>
    <p class="h4">
        No podemos encontrar lo que buscabas!
    </p>

    <p class="h4" style="margin-top: 80px; color: #FF6900;">
        Actualizamos nuestro nuestro sitio web, para más detalles ve al inicio!
    </p>

    <div class="callButton">
        <a class="border border-primary p-3 badge badge-pill" href="/">Volver al inicio!</a>
    </div>
</div>

<%- include('../partials/footer'); %>