<%- include('../partials/header'); %>

<!--Secciòn Servicios-->
<div class="ServiciosTitle">
    <div class="container-fluid row m-0 text-center">
        <h1 class="col-lg-12 font-weight-bold">
            <span>Nuestros</span>
            <span class="text-primary">Servicios</span>
        </h1>
        <h5 class="col-lg-12">Estos son algunos de nuestros servicios especializados que
            actualmente tenemos para ti.</h5>
    </div>
</div>

<!--Tarjetas Servicios-->
<div class="container-fluid row m-0 pl-5 pr-5 d-flex justify-content-around tarjetas">

    <div class="text-center col-lg-3 mt-sm-5 cardService">
        <div class="card-body">
            <h5 class="card-title"><img src="./IMG/web-programming.png" alt="páginas web"></h5>
            <h5 class="card-title text-primary">Pàginas Web</h5>
            <p class="card-text" style="height: 85px;">Deja que tus clientes te encuentren en Internet, fácil y
                rápido.</p>
            <a href="/views/website" class="badge badge-pill border border-primary p-2">Saber Màs . . .</a>
        </div>
    </div>

    <div class="text-center col-lg-3 mt-sm-5 cardService">
        <div class="card-body">
            <h5 class="card-title"><img src="./IMG/chat.png" alt="mandejo de redes sociales"></h5>
            <h5 class="card-title text-primary">Manejo de Redes Sociales</h5>
            <p class="card-text" style="height: 85px;">Incrementa la eficiencia de tus
                publicaciones, mejorando la presencia de tus redes sociales.</p>
            <a href="/views/socialnetwork" class="badge badge-pill border border-primary p-2">Saber Màs . . .</a>
        </div>
    </div>

    <div class="text-center col-lg-3 mt-sm-5 cardService">
        <div class="card-body">
            <h5 class="card-title"><img src="./IMG/bot.png" alt="agentes virtuales"></h5>
            <h5 class="card-title text-primary">Agentes VIrtuales</h5>
            <p class="card-text" style="height: 85px;">Automatiza el proceso de atención y
                desarrolla un embudo de ventas con un robot que utiliza inteligencia artificial.</p>
            <a href="#" class="badge badge-pill border border-primary p-2">Saber Màs . . .</a>
        </div>
    </div>

</div>

<!--Secciòn Experiencia-->
<div class="ProyectoTitle">
    <div class="container-fluid row m-0 mt-5">
        <h1 class="col-lg-12 font-weight-bold mt-5">
            <span>Tienes un</span>
            <span class="text-primary">Proyecto</span>
            <span class="">en mente?</span>
        </h1>
        <h5 class="col-lg-12">Nosotros te ayudamos a desarrollarlo</h5>
    </div>
</div>

<!--Tarjetas Experiencia-->
<div class="container-fluid row m-0 pl-5 pr-5 d-flex justify-content-around tarjetas">

    <div class="text-center col-lg-3 mt-sm-5 cardService">
        <div class="card-body">
            <h5 class="card-title"><img src="./IMG/user.png" alt="experiencia en desarrollo"></h5>
            <h5 class="card-title text-primary">Expertos</h5>
            <p class="card-text">Más de 20 años en experiencia de desarollo</p>
        </div>
    </div>

    <div class="text-center col-lg-3 mt-sm-5 cardService">
        <div class="card-body">
            <h5 class="card-title"><img src="./IMG/support.png" alt="soporte 24/7"></h5>
            <h5 class="card-title text-primary">24/7 Soporte</h5>
            <p class="card-text">Estamos los 365 días disponibles para soporte</p>
        </div>
    </div>

    <div class="text-center col-lg-3 mt-sm-5 cardService">
        <div class="card-body">
            <h5 class="card-title"><img src="./IMG/pencil.png" alt=" diseñadores creativos"></h5>
            <h5 class="card-title text-primary">Diseñadores Creativos</h5>
            <p class="card-text">Contamos con diseñadores con adaptación a las nuevas tendencias</p>
        </div>
    </div>

    <div class="text-center col-lg-3 mt-sm-5 cardService">
        <div class="card-body">
            <h5 class="card-title"><img src="./IMG/ui.png" alt="ui/ux"></h5>
            <h5 class="card-title text-primary">UI/UX</h5>
            <p class="card-text">Basados en desarrollos con las mejores experiencias e
                interfaces de usuarios finales.</p>
        </div>
    </div>

</div>

<!--Boton Contacto-->
<div class="ContactanosBottom">
    <a href="/views/contact">
        <span class="badge badge-pill badge-primary p-2">
            <img class="mr-1" src="/IMG/phone.png" alt="contacto">
            Cotizar
        </span>
    </a>
</div>

<%- include('../partials/footer'); %>