<%- include('../partials/header'); %>

<!--Páginas Web titulo-->
<div class="mainTitleLandings text-center">
    <p class="h1">
        Adquiere tu pagina Web al mejor precio.
    </p>
    <p class="h4">
        El buscador Google es el sitio más visitado para realizar búsquedas.
    </p>
</div>



<!--Banner Landings-->
<div class="landingBanner">
    <div class="imgBanner">
        <div class="roundedDiv" style="background-image: url(../IMG/googlesearch.png);">
        </div>
    </div>
    <div class="infoBanner">
        <p class="h2 font-weight-bold">Aumenta tu visibilidad en Internet</p>
        <p class="h5">Google raquea mejor a los negocios con sitio Web y aquellos que distribuyen contenido, así como
            los que tienen presencia en redes sociales.</p>
        <a class="border border-primary p-3 badge badge-pill" href="/views/contact">Quiero una página web</a>
    </div>
</div>


<!--SubTitle-->
<div class="container SubTitle">
    <h1 class="font-weight-bold">Beneficios</h1>
</div>


<!--Cards-->
<div class="container-fluid row m-0 pl-5 pr-5 d-flex justify-content-around tarjetas">

    <div class="text-center col-lg-3 mt-sm-5 cardService">
        <div class="card-body">
            <h5 class="card-title"><img src="/IMG/www.png" alt=""></h5>
            <h5 class="card-title text-primary">Localización</h5>
            <p class="card-text" style="height: 85px;">Tus clientes pueden encontrarte en las búsquedas del sitio en
                Internet con más visitas: Google.com</p>
        </div>
    </div>

    <div class="text-center col-lg-3 mt-sm-5 cardService">
        <div class="card-body">
            <h5 class="card-title"><img src="/IMG/settings.png" alt=""></h5>
            <h5 class="card-title text-primary">Automatización</h5>
            <p class="card-text" style="height: 85px;">Deja que la página Web atienda los prospectos y los convierta en
                clientes.</p>
        </div>
    </div>

    <div class="text-center col-lg-3 mt-sm-5 cardService">
        <div class="card-body">
            <h5 class="card-title"><img src="/IMG/customer.png" alt=""></h5>
            <h5 class="card-title text-primary">Profesionalización</h5>
            <p class="card-text" style="height: 85px;">Da una atención profesional y de calidad a través de la
                personalización.</p>
        </div>
    </div>

</div>

<!--Call To Action-->
<div class="callToAction">
    <div class="callText">
        <p class="h2 font-weight-bold">¡El contenido es el mejor gancho!</p>
        <p class="h5">Crear publicaciones en tu sitio Web es la mejor manera para atraer pacientes, Hoy es un buen día
            para crear tu sitio Web.</p>
    </div>
    <div class="callButton">
        <a class="border border-primary p-3 badge badge-pill" href="/views/contact">Me interesa un sitio web</a>
    </div>
</div>


<!--Preguntas Frecuentes-->
<div class="FrequentQuestions">
    <div class="FrequentQuestionsTitle">
        <p class="h2 font-weight-bold">Preguntas Frecuentes</p>
    </div>
    <div class="FrequentQuestionsList">
        <section>
            <h5>Mètodos de Pago</h5>
            <ul>
                <li><span>Puedes pagar en efectivo, transferencia SPEI y con de tarjetas bancarias.</span></li>
            </ul>

            <h5>¿Manejan contrato?</h5>
            <ul>
                <li><span>Si, los contratos tienen la duración de un año, aunque estos pueden ser negociados.</span>
                </li>
            </ul>

            <h5>Ya tengo mi página Web, ¿Me pueden ayudar?</h5>
            <ul>
                <li><span>Si, es necesario que te contactes con nosotros para revisar tu sitio, todo esto sin
                        costo.</span></li>
            </ul>

            <h5>¿Tienen pruebas gratis?</h5>
            <ul>
                <li><span>No como tal, pero tenemos garantías para casos en que no te guste el servicio, manejar
                        políticas de devolución.</span></li>
            </ul>

            <h5>¿Tienen servicio en todo México?</h5>
            <ul>
                <li><span>Si, de manera presencial atendemos la ciudad de Colima y alrededores, el resto del país a
                        través de videollamada.</span></li>
            </ul>
        </section>
    </div>
</div>


<!--Call To Action 2-->
<div class="callToAction">
    <div class="callText">
        <p class="h2 font-weight-bold">Envìanos un mensaje hoy</p>
        <p class="h5">Escríbenos para más información y nosotros te contactaremos a la brevedad.</p>
    </div>
    <div class="callButton">
        <a class="border border-primary p-3 badge badge-pill" href="/views/contact">Cotizar</a>
    </div>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<%- include('../partials/scripts'); %>