<%- include('../partials/header'); %>

<!--Cards-->
<div class="container-fluid row m-0 pl-5 pr-5 d-flex justify-content-around tarjetas">

    <div class="text-center col-lg-3 mt-sm-5 cardService">
        <div class="card-body">
            <h5 class="card-title">
                <div class="imgPerson">
                    <img class="avatar" src="/IMG/avatar.png" alt="Foto de salvador" title="foto de salvador">
                </div>
            </h5>
            <h4 class="card-title text-primary text-dark font-weight-bold">Salvador Gonzalez</h4>
            <h6 class="card-title text-primary text-secondary">CEO</h6>
            <h6 class="card-title carrera">Ingeniero de Software</h6>
            <h6>20 Años de Experiencia</h6>
        </div>
    </div>

    <div class="text-center col-lg-3 mt-sm-5 cardService">
        <div class="card-body">
            <h5 class="card-title">
                <div class="imgPerson">
                    <img class="avatar" src="/IMG/avatar.png" alt="Foto de pedro" title="foto de pedro">
                </div>
            </h5>
            <h4 class="card-title text-primary text-dark font-weight-bold">Pedro Pérez Preciado</h4>
            <h6 class="card-title text-primary text-secondary">CIO</h6>
            <h6 class="card-title carrera">Ingeniero En Telemática</h6>
            <h6>20 Años de Experiencia</h6>
        </div>
    </div>

    <div class="text-center col-lg-3 mt-sm-5 cardService">
        <div class="card-body">
            <h5 class="card-title">
                <div class="imgPerson">
                    <img class="avatar" src="/IMG/avatar.png" alt="Foto de diana" title="foto de diana">
                </div>
            </h5>
            <h4 class="card-title text-primary text-dark font-weight-bold">Diana Martínez</h4>
            <h6 class="card-title text-primary text-secondary">Staff</h6>
            <h6 class="card-title carrera">Trabajadora Social</h6>
            <h6>10 Años de Experiencia</h6>
        </div>
    </div>

    <div class="text-center col-lg-3 mt-sm-5 cardService">
        <div class="card-body">
            <h5 class="card-title">
                <div class="imgPerson">
                    <img class="avatar" src="../IMG/avatar.png" alt="Foto de gerzain" title="foto de gerzain">
                </div>
            </h5>
            <h4 class="card-title text-primary text-dark font-weight-bold">Gerzain Magaña</h4>
            <h6 class="card-title text-primary text-secondary">Desarrollador Web</h6>
            <h6 class="card-title carrera">Ingeniero de Software</h6>
            <h6>1 Año de Experiencia</h6>
        </div>
    </div>
</div>


<!--Call To Action 2-->
<div class="callToAction">
    <div class="callText">
        <p class="h2 font-weight-bold">Env&iacute;anos un mensaje hoy</p>
        <p class="h5">Escríbenos para más informaci&oacute;n y nosotros te contactaremos a la brevedad.</p>
    </div>
    <div class="callButton">
        <a class="border border-primary p-3 badge badge-pill" href="/views/contact">Me interesa un sitio web</a>
    </div>
</div>

<%- include('../partials/footer'); %>