<!--Pie de pàgina-->
<div class="footer">
    <div class="mainFooter">
        <div class="leftContent">
            <div class="nosotrosTitle">
                <p>Contacto</p>
            </div>
            <div class="nosotrosInfo">
                <div class="one">
                    <p>
                        <img src="/IMG/phoneBLue.png" alt="iqiss telefono">
                        +52 314 156 0219
                    </p>
                    <p>
                        <img src="/IMG/time.png" alt="iqiss horario">
                        Horario 9:00 - 18:00 HRS
                    </p>
                </div>
                <div class="one">
                    <p>
                        <img src="/IMG/map.png" alt="iqiss ubicacion">
                        Villa de Alvarez, Colima, MX
                    </p>
                    <p>
                        <img src="/IMG/email.png" alt="iqiss email">
                        servicioalcliente@iqissmexico.com.mx
                    </p>
                </div>
            </div>
        </div>

        <div class="centerContent">
            <div class="nosotros">
                <div class="top">
                    <p class="font-weight-bold border-bottom-warning lead">
                        Acerca de Nosotros
                    </p>
                </div>
                <div class="bottom">
                    <a class="link" href="/views/us">Conoce al equipo</a>
                </div>
            </div>
        </div>

        <div class="rightContent">
            <p>Copyright © 2022 IQISS Mexico</p>
            <span>Responsable: Salvador Gonzalez Galindo</span>
        </div>
    </div>
</div>

<%- include('../partials/scripts'); %>

</body>

</html>