<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Iqiss M&eacute;xico</title>

<!--EStilos CSS Personzalizados-->
<link rel="stylesheet" href="/css/ownStyles.css">

<!-- META TAGS-->
<meta property=”og:type” content="article" />
<meta property=”og:title” content="IQISS México" />
<meta property=”og:description”
    content="Soluciones simple, efectivas y accesibles. Empresa dedicada al desarollo de páginas web, manejo de redes sociales y agentes virtuales." />
<meta property=”og:image” content="https://iqissmexico.com.mx//IMG/iqissLogoNombre.png" />
<meta property=”og:url” content="https://iqissmexico.com.mx/" />
<meta property=”og:site_name” content="IQISS México" />
<meta name=”twitter:title” content="IQISS México">
<meta name=”twitter:description”
    content="Soluciones simple, efectivas y accesibles. Empresa dedicada al desarollo de páginas web, manejo de redes sociales y agentes virtuales.">
<meta name=”twitter:image” content="https://iqissmexico.com.mx//IMG/iqissLogoNombre.png">