<!--Barra de Navegaciòn-->
<nav class="MainBar">

    <div class="brandDescription">
        <a class="" href="/">
            <img src="/IMG/iqissLogoNombre.png" alt="">
        </a>
        <a class="linkDescription" href="/">
            <span class="">Soluciones simples, efectivas y accesibles</span>
        </a>
    </div>

    <div class="buttonContact">
        <a class="" href="/views/contact">
            <span class="badge badge-pill badge-primary p-2">
                <img class="mr-1" src="/IMG/phone.png" alt="">
                Contactanos
            </span>
        </a>
    </div>

</nav>