<div style="background-color: cornflowerblue; width: 100%; height: 100%;">
    <h2 style="margin: 10px auto; padding: 20px 8px; text-align: center; color: white; font-weight: bold;">Un nuevo lead
        se ha generado</h2>
    <hr />

    <p>
    <ul style="list-style: none; max-width: 300px; margin: 15px auto">
        <li>
            <label style="font-weight: bold;">Nombre:</label> {{name}}
        </li>
        <li>
            <label style="font-weight: bold;">Email:</label> {{email}}
        </li>
        <li>
            <label style="font-weight: bold;">Telefono:</label> {{phone}}
        </li>
        <li>
            <label style="font-weight: bold;">Comentario:</label><br /> {{comments}}
        </li>
    </ul>
    </p>

    <p style="text-align: center; color: azure; font-weight: 500; margin: 4rem 0px;">@2022 - Development by
        IQISSM&eacute;xico</p>
</div>